#Following files were added by IntelliJ IDE.

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#IntelliJ IDE configurations
/.idea
/target/
